@import "../../../../styles/variables";

.grid-forecast {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto auto auto auto auto auto;

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;

    .maxTemp {
      color: $dark-gray;
    }

    .minTemp {
      color: $dusty-gray;
    }

    .img-responsive {
      padding-top: 0em;
      padding-bottom: 0em;
    }

    .pName {
      color: $dusty-gray;
    }
  }
}

/* Medium and Small devices (phones & tablets) */
@media (max-width: 992px) {
  .grid-forecast {
    overflow-x: scroll;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;

    > div {
      //width: 100px;

      .maxTemp {
        color: $dark-gray;
      }
  
      .minTemp {
        color: $dusty-gray;
      }
    }

  }
}
