// Colors

$black: #333;
$dark-gray: #262b2f;
$dusty-gray: #576264;
$dusty-sand-gray: #586369;
$wild-sand: #aaaaaa;
$white: #fff;

$dark-yellow: #fd746a;
$light-yellow: #fd9067;
$pale-yellow: #E79481;
$sand-yellow: #D5A797;
